/* 
Notes 

Initial Color: #63b0a6

*/

/* Global Style */
#page-container {
    margin-top: 80px;
}

/* Navigation and Footer*/
nav {
    z-index: 9999;
    position: fixed;
    top: 0;
}

.nav-wrapper {
    background-color: #26a69a;
}

nav ul a {
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.sidenav {
    top: 64px !important;
}

.hamburger-menu {
    z-index: 10000;
    position: fixed;
    right: 16px;
    top: 14px;
    color: white;
    font-size: 36px !important;
}

footer {
    background-color: #26a69a;
}

/* Main Section Styles */
.regular-style {
    color: #00897b;
    background-color: white;
}

.inverted-style {
    background-color: #26a69a;
    color: white;
}

/* General CSS */
.row {
    margin-bottom: 0 !important;
}

.section-header {
    margin: 0;
    font-size: 24px;
}

.section-subheading {
    font-size: 1rem;
}

fieldset {
    border: none;
}

#logo {
    max-height: 64px;
}

.placeholder {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

/* Media Quieries */
@media screen and (max-width: 600px) {
    #page-container {
        margin-top: 72px;
    }

    .sidenav {
        top: 56px !important;
    }

    #logo {
        max-height: 56px;
    }
}
